In [ ]:
# 결손치 제거
languages.dropna(inplace=True)

# 필터링을 위한 리스트로 변환
lang_list = languages.to_list()

# 일부 값 확인
lang_list[:10]

[['HTML/CSS', 'Python', 'Ruby', 'SQL', 'VBA'],
 ['Bash/Shell', 'C++', 'Python', 'SQL'],
 ['Bash/Shell', 'Python', 'SQL'],
 ['Python'],
 ['Elixir', 'Python', 'Rust', 'SQL', 'TypeScript'],
 ['Python'],
 ['Bash/Shell',
  'C++',
  'HTML/CSS',
  'JavaScript',
  'Python',
  'Rust',
  'SQL',
  'TypeScript'],
 ['Python', 'SQL'],
 ['Bash/Shell', 'Go', 'HTML/CSS', 'Python'],
 ['Bash/Shell', 'Python', 'Rust']]

In [ ]:
# 추출 대상 프로그래밍 언어 선정
target_langs = ['Python', 'R', 'SQL','MATLAB', 'Go', 'SAS', 'Scala', 'Julia', 'Java', 'JavaScript']

In [ ]:
# 필터링 완료된 프로그래밍 언어를 담기 위한 리스트 생성
revised_lang_list = []

# 필터링을 위해 전체 리스트 순회
for lang in lang_list:
    
    # 추출 대상 프로그래밍 언어만 필터링
    filtered = [x for x in lang if x in target_langs]
    
    # 해당 리스트에 파이썬이 있는 경우에만 학습 대상 리스트에 추가
#     if 'Python' in filtered:
#         revised_lang_list.append(filtered)
        
    revised_lang_list.append(filtered)

# 필터링 결과 확인
revised_lang_list

[['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Go', 'Python'],
 ['Python'],
 ['Python'],
 ['Go', 'Java'],
 ['JavaScript', 'Python'],
 ['Python', 'R', 'SQL'],
 ['Julia', 'Python', 'R'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SAS', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SAS', 'SQL'],
 ['Python', 'Scala', 'SQL'],
 ['Python', 'R'],
 ['Python', 'R'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Python'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['Python'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['Java', 'Python'],
 ['Python'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'Python'],
 ['JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['MATLAB', 'Python', 'R'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Julia', 'Python', 'SQL'],
 ['Python'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['SQL'],
 ['Python'],
 ['Java', 'JavaScript', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R', 'Scala', 'SQL'],
 ['Python', 'R'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['R'],
 [],
 ['Go', 'Python', 'SAS', 'SQL'],
 ['Go', 'JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'SQL'],
 ['Python'],
 [],
 ['Python'],
 ['Python'],
 ['Java', 'JavaScript', 'MATLAB', 'Python', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'SQL'],
 ['Python', 'Scala', 'SQL'],
 ['Python', 'R'],
 ['Go', 'JavaScript', 'Python'],
 ['Python', 'R'],
 ['Python', 'R', 'SAS', 'Scala', 'SQL'],
 ['JavaScript', 'Python'],
 ['MATLAB', 'Python'],
 ['Python'],
 ['Java', 'JavaScript', 'Python'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['R'],
 ['Julia', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['JavaScript', 'Julia', 'Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'R'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'R'],
 ['Python'],
 ['JavaScript', 'Python'],
 ['Java', 'MATLAB', 'Python', 'SAS', 'SQL'],
 ['Julia', 'Python'],
 ['R', 'SAS', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['MATLAB', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R'],
 ['Java', 'JavaScript', 'Python', 'SAS', 'SQL'],
 [],
 ['Python', 'SAS', 'SQL'],
 ['Python', 'R', 'SAS', 'SQL'],
 ['JavaScript', 'Python'],
 ['R', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['Julia', 'Python'],
 ['Julia', 'Python'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 [],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['JavaScript', 'Julia', 'Python', 'SQL'],
 ['Julia', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Julia', 'MATLAB', 'Python', 'R'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['SQL'],
 ['Python', 'R', 'SAS'],
 ['Python', 'R', 'SAS', 'SQL'],
 ['Java', 'Python', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript'],
 ['Python', 'R'],
 ['Python', 'SQL'],
 ['Go', 'Python'],
 ['Julia', 'Python'],
 ['Python', 'SQL'],
 ['Java'],
 ['Python'],
 ['JavaScript', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SAS', 'SQL'],
 [],
 ['MATLAB', 'Python', 'SQL'],
 ['Python', 'R'],
 ['JavaScript', 'Python'],
 ['Java', 'JavaScript', 'Python', 'Scala', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SQL'],
 ['SQL'],
 ['R', 'SQL'],
 ['MATLAB', 'Python'],
 ['SQL'],
 ['Python', 'SQL'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['Java', 'Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 [],
 ['Python', 'SQL'],
 ['Python'],
 ['MATLAB', 'Python', 'SQL'],
 ['Java', 'SQL'],
 ['MATLAB', 'Python', 'SQL'],
 ['Python', 'R', 'SAS', 'SQL'],
 ['Julia', 'SQL'],
 ['Python'],
 ['R', 'SAS', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['SQL'],
 ['Python'],
 ['SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'Scala', 'SQL'],
 ['Go', 'Python', 'SQL'],
 ['Python', 'R'],
 ['Python'],
 ['Julia', 'Python', 'R', 'Scala'],
 ['Go', 'JavaScript', 'Python', 'R', 'SQL'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['Go', 'Python'],
 ['JavaScript', 'Julia', 'Python'],
 ['Java', 'Python', 'SQL'],
 ['Java', 'Python', 'SQL'],
 ['MATLAB', 'Python', 'SQL'],
 ['JavaScript', 'Python'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Java', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['Java', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'R'],
 ['Python', 'R'],
 ['Python', 'SAS', 'SQL'],
 ['Java', 'JavaScript', 'MATLAB', 'Python', 'R', 'SQL'],
 ['Java'],
 ['Go', 'Python', 'Scala', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'Scala', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python'],
 ['JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['Python', 'R', 'Scala'],
 ['Java', 'JavaScript', 'Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python', 'R', 'SAS', 'SQL'],
 ['Go', 'Java', 'JavaScript', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['R'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python'],
 ['R', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'SAS', 'SQL'],
 ['R', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['MATLAB', 'Python', 'Scala', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['R'],
 ['Python'],
 ['Python'],
 ['R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['SQL'],
 ['Python', 'SQL'],
 ['R'],
 ['Python'],
 [],
 ['Java', 'SQL'],
 ['JavaScript'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['JavaScript', 'MATLAB', 'Python', 'SQL'],
 ['Python', 'R'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'SQL'],
 ['Julia', 'Python', 'R'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python'],
 ['Java', 'Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python'],
 ['Go', 'Python'],
 ['Python', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SQL'],
 ['Python', 'R'],
 ['Java', 'JavaScript', 'MATLAB', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Julia', 'Python'],
 ['Java', 'JavaScript', 'Python'],
 ['SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Julia', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python'],
 ['Java', 'Python', 'Scala'],
 ['Python', 'SQL'],
 ['Python'],
 ['SQL'],
 ['Python'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['Java', 'Python'],
 ['JavaScript'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Julia', 'Python', 'R', 'SQL'],
 ['R'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Julia', 'Python'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['R'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['R'],
 ['Python', 'R', 'SQL'],
 ['SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['Java', 'SQL'],
 ['SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'Scala', 'SQL'],
 ['Python'],
 ['SAS', 'SQL'],
 ['R'],
 ['Java', 'Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'R', 'Scala', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 [],
 ['JavaScript', 'Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['Python'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['Python'],
 ['Java', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['MATLAB', 'Python', 'SQL'],
 ['Python'],
 ['Python'],
 ['JavaScript', 'MATLAB', 'Python', 'R', 'SQL'],
 ['Java', 'Python', 'SQL'],
 [],
 ['Julia', 'Python', 'Scala', 'SQL'],
 ['Java', 'JavaScript', 'Python'],
 ['JavaScript', 'SQL'],
 ['Go', 'Python', 'R', 'Scala', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'SQL'],
 ['JavaScript', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['MATLAB', 'Python', 'R', 'SQL'],
 ['Python', 'Scala'],
 ['Python'],
 ['Java', 'Python'],
 ['Go', 'Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['R'],
 ['Python', 'SQL'],
 ['Java', 'Python', 'SQL'],
 ['Python', 'R', 'Scala'],
 ['Python'],
 ['Java', 'JavaScript', 'Python', 'R', 'Scala', 'SQL'],
 ['Python', 'SAS', 'SQL'],
 ['Python'],
 ['Python'],
 ['Python', 'R'],
 ['MATLAB', 'Python'],
 ['Go', 'Java', 'JavaScript', 'Python'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 [],
 ['Python', 'SQL'],
 ['R', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['Java', 'Python'],
 ['Go', 'Java', 'JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['Java', 'R', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'Scala', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Python'],
 ['Python'],
 ['Julia', 'Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'Python', 'R'],
 ['Python'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'Python', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'SQL'],
 ['Python'],
 ['Java', 'JavaScript', 'Python'],
 ['SQL'],
 ['Julia', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Java', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R'],
 ['Python', 'R'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['Python'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['JavaScript', 'SQL'],
 ['SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python'],
 ['Python'],
 ['Python', 'R'],
 ['Python'],
 ['Python'],
 ['JavaScript', 'Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['Julia', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'SAS', 'SQL'],
 ['JavaScript'],
 ['JavaScript'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SAS', 'SQL'],
 ['Go', 'Java', 'Python', 'SQL'],
 ['Scala'],
 ['SQL'],
 ['Java', 'JavaScript', 'MATLAB', 'Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SAS', 'Scala', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['Java', 'Python', 'SQL'],
 ['Java', 'Python'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['R', 'SAS', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 [],
 ['Python', 'R'],
 ['Python', 'R', 'SAS', 'SQL'],
 ['Julia', 'Python'],
 ['R', 'SQL'],
 ['Go', 'JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SAS', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SAS', 'SQL'],
 [],
 ['Python'],
 ['Python', 'R'],
 ['Go', 'JavaScript', 'Julia', 'Python', 'R', 'SAS', 'SQL'],
 ['Python'],
 [],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'SQL'],
 ['Python', 'R'],
 ['R'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['Python'],
 ['SQL'],
 ['Java', 'Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['MATLAB', 'Python'],
 ['Java', 'Python', 'SAS', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'R', 'Scala', 'SQL'],
 ['Java', 'Python', 'R', 'Scala'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['JavaScript', 'SQL'],
 ['R', 'SAS', 'SQL'],
 ['Julia', 'R'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Go', 'JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['R'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SAS', 'SQL'],
 ['R', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'JavaScript', 'MATLAB', 'Python', 'SQL'],
 ['MATLAB', 'Python'],
 ['Python', 'R', 'Scala'],
 ['Python'],
 ['SAS', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'R', 'Scala', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['JavaScript', 'Python', 'SQL'],
 ['JavaScript', 'Python', 'R', 'SQL'],
 ['R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['SQL'],
 ['JavaScript', 'MATLAB', 'Python', 'R', 'SQL'],
 ['Python'],
 ['MATLAB', 'Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'SAS', 'SQL'],
 ['Python', 'SQL'],
 ['MATLAB', 'Python'],
 ['MATLAB', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Julia'],
 ['Python', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['JavaScript'],
 ['Python'],
 ['Python'],
 ['Java', 'JavaScript', 'Python'],
 ['Java', 'JavaScript', 'Python'],
 ['Python'],
 ['MATLAB', 'Python'],
 ['Julia', 'R'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['SQL'],
 ['Python', 'SQL'],
 ['R'],
 ['R', 'SQL'],
 ['Python'],
 ['JavaScript', 'Julia', 'Python'],
 ['JavaScript', 'SQL'],
 ['Python', 'Scala', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Go', 'JavaScript', 'Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['SQL'],
 ['Julia', 'MATLAB', 'Python', 'R', 'SAS', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Java', 'JavaScript', 'MATLAB', 'Python'],
 ['Python'],
 ['R'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['R', 'SQL'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python', 'R'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python', 'R'],
 ['SQL'],
 ['Java', 'Python'],
 ['Python'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Java', 'JavaScript', 'Python', 'SQL'],
 ['Java', 'Python'],
 ['MATLAB', 'Python', 'R'],
 ['JavaScript', 'Python', 'R', 'Scala', 'SQL'],
 ['JavaScript', 'Python'],
 ['Python', 'SQL'],
 ['Python', 'R', 'SQL'],
 ['Python', 'R'],
 ['JavaScript', 'Python', 'SQL'],
 ['Python'],
 ['Python', 'SQL'],
 ['MATLAB', 'Python', 'SQL'],
 ['Python', 'SQL'],
 ['Java', 'SQL'],
 ['Python', 'SQL'],
 ['Python'],
 ['Python', 'R', 'SQL'],
 ['JavaScript', 'Python'],
 ['Go', 'Python'],
 ['R', 'SQL'],
 ['Python', 'SQL'],
 ['Python', 'SQL'],
 ['R', 'SQL'],
 ['MATLAB', 'Python', 'R', 'SQL'],
 ['Python'],
 ['Python'],
 ['Python', 'SQL'],
 ['R'],
 ['Java', 'Python', 'Scala', 'SQL'],
 ['Julia', 'R', 'SQL'],
 ['JavaScript', 'Python', 'SQL']]

In [ ]:
# 전처리 라이브러리 탑재
from mlxtend.preprocessing import TransactionEncoder

# 전처리기 생성
te = TransactionEncoder()

# 전처리 수행
te_ary = te.fit(revised_lang_list).transform(revised_lang_list)
te_ary

array([[False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       ...,
       [False,  True, False, ..., False,  True,  True],
       [False, False, False, ..., False,  True, False],
       [False, False,  True, ..., False,  True, False]])

In [ ]:
# 전치리 결과를 데이터프레임으로 변환
new_languages = pd.DataFrame(te_ary, columns=te.columns_)
new_languages

,Go,Java,JavaScript,Julia,MATLAB,Python,R,SAS,SQL,Scala
0,False,False,False,False,False,True,False,False,True,False
1,False,False,False,False,False,True,False,False,True,False
2,False,False,False,False,False,True,False,False,True,False
3,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
724,False,False,False,False,False,True,False,False,True,False
725,False,False,False,False,False,False,True,False,False,False
726,False,True,False,False,False,True,False,False,True,True
727,False,False,False,True,False,False,True,False,True,False
728,False,False,True,False,False,True,False,False,True,False

In [ ]:
# 학습 알고리즘 탑재
from mlxtend.frequent_patterns import apriori, association_rules

# 지지도 구하기
freq_items = apriori(new_languages, min_support=0.01, use_colnames=True, verbose=1)

Processing 55 combinations | Sampling itemset size 5

In [ ]:
# 학습 결과 확인하기
freq_items.sort_values(['support'], ascending=False).head(20)

     support                    itemsets
5   0.855967                    (Python)
8   0.603567                       (SQL)
32  0.517147               (Python, SQL)
6   0.292181                         (R)
30  0.237311                 (Python, R)
2   0.231824                (JavaScript)
35  0.213992                    (SQL, R)
20  0.211248        (Python, JavaScript)
64  0.182442            (Python, SQL, R)
22  0.160494           (SQL, JavaScript)
53  0.148148   (Python, SQL, JavaScript)
1   0.116598                      (Java)
14  0.098765              (Python, Java)
16  0.076818                 (SQL, Java)
45  0.065844         (Python, SQL, Java)
13  0.064472          (Java, JavaScript)
41  0.060357  (Python, Java, JavaScript)
4   0.056241                    (MATLAB)
27  0.056241            (MATLAB, Python)
3   0.053498                     (Julia)

In [ ]:
# 항목 집합의 항목 개수 추가하기
freq_items['length'] = freq_items['itemsets'].apply(lambda x: len(x))
freq_items

     support                            itemsets  length
0   0.030178                                (Go)       1
1   0.116598                              (Java)       1
2   0.231824                        (JavaScript)       1
3   0.053498                             (Julia)       1
4   0.056241                            (MATLAB)       1
..       ...                                 ...     ...
78  0.017833             (Julia, Python, SQL, R)       4
79  0.019204            (MATLAB, Python, SQL, R)       4
80  0.021948               (SAS, Python, SQL, R)       4
81  0.012346             (Python, Scala, SQL, R)       4
82  0.013717  (Python, Java, SQL, R, JavaScript)       5

[83 rows x 3 columns]

In [ ]:
# 신뢰도와 향상도 구하기
rules = association_rules(freq_items, min_threshold=0.01)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Go),(JavaScript),0.030178,0.231824,0.013717,0.454545,1.960732,0.006721,1.408322
1,(JavaScript),(Go),0.231824,0.030178,0.013717,0.059172,1.960732,0.006721,1.030817
2,(Python),(Go),0.855967,0.030178,0.028807,0.033654,1.115166,0.002975,1.003597
3,(Go),(Python),0.030178,0.855967,0.028807,0.954545,1.115166,0.002975,3.168724
4,(SQL),(Go),0.603567,0.030178,0.017833,0.029545,0.979029,-0.000382,0.999348
...,...,...,...,...,...,...,...,...,...
437,(Python),"(R, Java, SQL, JavaScript)",0.855967,0.013717,0.013717,0.016026,1.168269,0.001976,1.002346
438,(Java),"(Python, SQL, R, JavaScript)",0.116598,0.048011,0.013717,0.117647,2.450420,0.008119,1.078921
439,(SQL),"(Python, Java, R, JavaScript)",0.603567,0.013717,0.013717,0.022727,1.656818,0.005438,1.009219
440,(R),"(Python, Java, SQL, JavaScript)",0.292181,0.043896,0.013717,0.046948,1.069542,0.000892,1.003203
441,(JavaScript),"(R, Python, Java, SQL)",0.231824,0.016461,0.013717,0.059172,3.594675,0.009901,1.045397

In [ ]:
# 산점도 그래프 그리기
fig=px.scatter(
    rules['support'], 
    rules['confidence'], 
    size=rules['lift'], 
    color=rules['lift']
)

# 그래프 레이아웃 설정
fig.update_layout(
    xaxis_title='support',
    yaxis_title='confidence',
    font_family='Courier New',
    font_color='blue',
    title_font_family='Times New Roman',
    title_font_color='red',
    title=('Support vs Confidence')
    
)

# 그래프 출력
fig.show()

In [ ]:
# frozenset 데이터를 문자열로 변환하여 열 추가
rules['antecedents_str'] = rules['antecedents'].apply(lambda x: ','.join(list(x)))
rules['consequents_str'] = rules['consequents'].apply(lambda x: ','.join(list(x)))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_str,consequents_str
0,(Go),(JavaScript),0.030178,0.231824,0.013717,0.454545,1.960732,0.006721,1.408322,Go,JavaScript
1,(JavaScript),(Go),0.231824,0.030178,0.013717,0.059172,1.960732,0.006721,1.030817,JavaScript,Go
2,(Python),(Go),0.855967,0.030178,0.028807,0.033654,1.115166,0.002975,1.003597,Python,Go
3,(Go),(Python),0.030178,0.855967,0.028807,0.954545,1.115166,0.002975,3.168724,Go,Python
4,(SQL),(Go),0.603567,0.030178,0.017833,0.029545,0.979029,-0.000382,0.999348,SQL,Go
...,...,...,...,...,...,...,...,...,...,...,...
437,(Python),"(R, Java, SQL, JavaScript)",0.855967,0.013717,0.013717,0.016026,1.168269,0.001976,1.002346,Python,"R,Java,SQL,JavaScript"
438,(Java),"(Python, SQL, R, JavaScript)",0.116598,0.048011,0.013717,0.117647,2.450420,0.008119,1.078921,Java,"Python,SQL,R,JavaScript"
439,(SQL),"(Python, Java, R, JavaScript)",0.603567,0.013717,0.013717,0.022727,1.656818,0.005438,1.009219,SQL,"Python,Java,R,JavaScript"
440,(R),"(Python, Java, SQL, JavaScript)",0.292181,0.043896,0.013717,0.046948,1.069542,0.000892,1.003203,R,"Python,Java,SQL,JavaScript"
441,(JavaScript),"(R, Python, Java, SQL)",0.231824,0.016461,0.013717,0.059172,3.594675,0.009901,1.045397,JavaScript,"R,Python,Java,SQL"

In [ ]:
# 산점도 그래프 그리기
fig=px.scatter(
    rules
    x='support', 
    y='confidence', 
    size='lift', 
    color='lift',
    hover_data=['antecedents_str', 'consequents_str']
)

# 그래프 레이아웃 설정
fig.update_layout(
    xaxis_title='support',
    yaxis_title='confidence',
    font_family='Courier New',
    font_color='blue',
    title_font_family='Times New Roman',
    title_font_color='red',
    title=('Support vs Confidence')
    
)

# 그래프 출력
fig.show()

In [ ]:
# 항목이 하나인 값만 필터링하기
rules_for_single = rules[rules.apply(lambda x: (len(x['antecedents']) == 1 and len(x['consequents']) == 1), axis=1)]
rules_for_single.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_str,consequents_str
0,(Go),(JavaScript),0.030178,0.231824,0.013717,0.454545,1.960732,0.006721,1.408322,Go,JavaScript
1,(JavaScript),(Go),0.231824,0.030178,0.013717,0.059172,1.960732,0.006721,1.030817,JavaScript,Go
2,(Python),(Go),0.855967,0.030178,0.028807,0.033654,1.115166,0.002975,1.003597,Python,Go
3,(Go),(Python),0.030178,0.855967,0.028807,0.954545,1.115166,0.002975,3.168724,Go,Python
4,(SQL),(Go),0.603567,0.030178,0.017833,0.029545,0.979029,-0.000382,0.999348,SQL,Go
5,(Go),(SQL),0.030178,0.603567,0.017833,0.590909,0.979029,-0.000382,0.969060,Go,SQL
6,(Java),(JavaScript),0.116598,0.231824,0.064472,0.552941,2.385172,0.037442,1.718287,Java,JavaScript
7,(JavaScript),(Java),0.231824,0.116598,0.064472,0.278107,2.385172,0.037442,1.223729,JavaScript,Java
8,(Python),(Java),0.855967,0.116598,0.098765,0.115385,0.989593,-0.001039,0.998628,Python,Java
9,(Java),(Python),0.116598,0.855967,0.098765,0.847059,0.989593,-0.001039,0.941754,Java,Python
10,(Java),(R),0.116598,0.292181,0.020576,0.176471,0.603977,-0.013492,0.859494,Java,R
11,(R),(Java),0.292181,0.116598,0.020576,0.070423,0.603977,-0.013492,0.950326,R,Java
12,(SQL),(Java),0.603567,0.116598,0.076818,0.127273,1.091551,0.006443,1.012231,SQL,Java
13,(Java),(SQL),0.116598,0.603567,0.076818,0.658824,1.091551,0.006443,1.161960,Java,SQL
14,(Scala),(Java),0.039781,0.116598,0.013717,0.344828,2.957404,0.009079,1.348350,Scala,Java
15,(Java),(Scala),0.116598,0.039781,0.013717,0.117647,2.957404,0.009079,1.088249,Java,Scala
16,(Julia),(JavaScript),0.053498,0.231824,0.012346,0.230769,0.995448,-0.000056,0.998628,Julia,JavaScript
17,(JavaScript),(Julia),0.231824,0.053498,0.012346,0.053254,0.995448,-0.000056,0.999743,JavaScript,Julia
18,(MATLAB),(JavaScript),0.056241,0.231824,0.012346,0.219512,0.946890,-0.000692,0.984225,MATLAB,JavaScript
19,(JavaScript),(MATLAB),0.231824,0.056241,0.012346,0.053254,0.946890,-0.000692,0.996845,JavaScript,MATLAB

In [ ]:
# 프로그래밍 언어 문자열로 추출
rules_for_single_df = pd.DataFrame(rules_for_single['antecedents'].apply(lambda x: list(x)[0]))
rules_for_single_df['consequents'] = rules_for_single['consequents'].apply(lambda x: list(x)[0])
rules_for_single_df['confidence'] = rules_for_single['confidence']

rules_for_single_df.head(20)

   antecedents consequents  confidence
0           Go  JavaScript    0.454545
1   JavaScript          Go    0.059172
2       Python          Go    0.033654
3           Go      Python    0.954545
4          SQL          Go    0.029545
5           Go         SQL    0.590909
6         Java  JavaScript    0.552941
7   JavaScript        Java    0.278107
8       Python        Java    0.115385
9         Java      Python    0.847059
10        Java           R    0.176471
11           R        Java    0.070423
12         SQL        Java    0.127273
13        Java         SQL    0.658824
14       Scala        Java    0.344828
15        Java       Scala    0.117647
16       Julia  JavaScript    0.230769
17  JavaScript       Julia    0.053254
18      MATLAB  JavaScript    0.219512
19  JavaScript      MATLAB    0.053254

In [ ]:
# 히트맵용 데이터프레임 생성, 색인은 대상 프로그래밍 언어로 설정
revised_rules_df = pd.DataFrame(index=target_langs)

# 대상 프로그래밍 언어 순회
for col in target_langs:
    
    # 열 설정을 위한 빈 리스트 생성
    col_conf = []
    for row in target_langs:
        
        # 신뢰도 확보, 조건 언어는 줄, 결과 언어는 행으로 설정
        confidence = rules_for_single_df[rules_for_single_df['antecedents'] == row][rules_for_single_df['consequents'] == col]['confidence']
        
        # 신뢰도 값이 존재하는 경우에만 행에 값 추가
        if len(confidence.values) > 0:
            col_conf.append(confidence.values[0])
            
        # 그렇지 않은 경우 0 설정
        else:
            col_conf.append(0)
            
    # 완성된 열을 데이터프레임에 추가
    revised_rules_df[col] = col_conf
        
# 최종 데이터프레임 값 확인
revised_rules_df

In [ ]:
# Seaborn 라이브러리 탑재
import seaborn as sns

# 히트맵 크기 설정
plt.figure(figsize=(15, 5))

# 히트맵 그리기
heatmap = sns.heatmap(revised_rules_df, annot=True)